body {
    font: 20px "Century Gothic", Futura, sans-serif;
    color: rgb(243, 243, 243);
    margin: 17px;
    background-color: #2c2c2c;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgb(199, 145, 83);
    border: 1px solid rgb(75, 55, 0);
    color: rgb(78, 58, 14);
    float: left;
    font-size: 35px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  